# Ignore virtual environments
venv/
.venv/
.venv-tf/
.env/
.env

# Byte-compiled files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Dash / Flask artifacts
app-cache-directory/

# Project caches
company_data_cache.json
find_imports.py
