pandas
numpy
matplotlib
seaborn
statsmodels
scikit-learn
xgboost
arch
shap
jupyter
yfinance
fredapi
hmmlearn==0.3.3
dash
dash-bootstrap-components
gunicorn
alpha_vantage 
dotenv
Flask-Caching
plotly
joblib
requests
sqlalchemy
tensorflow
keras-tuner
scipy
tensorboard